/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.rounded-lg {
    border-radius: 1rem !important;
  }
  
  .text-small {
    font-size: 0.9rem !important;
  }
  
  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
  }
  
  .text-uppercase {
    letter-spacing: 0.2em;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSES
  * ==========================================
  *
  */
  
  body {
    background: #F9F9F9;
    background: -webkit-linear-gradient(to right, #F9F9F9, #F9F9F9);
    background: linear-gradient(to right, #F9F9F9, #F9F9F9);
    color: #514B64;
    min-height: 100vh;
  }
  