@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  overflow-x: hidden;
  font-size: 18px;
  
}

a {
  cursor: pointer;
  text-decoration: none;
}

.maintitle {
  color: #6B6C70;
  margin-top: 30vh !important;
  
}

.space-card {
  
    background-color: rgba(245, 245, 245, 1);
    opacity: 0;
    height: 100px;
  }

  .regular-card {
  
    opacity: 1;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }

  .button-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }


  