@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  overflow-x: hidden;
  font-size: 18px;
  
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.maintitle {
  color: #6B6C70;
  margin-top: 30vh !important;
  
}


@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }